* {
    font-family: 'Oxygen', sans-serif;
}


body {
    margin: 0px;
    padding: 0px;
    background-image: url("./background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h1 {
    color: white;
    font-size: 40px;
}


nav.top {
    margin: 10px;
    width: wrap;
    height: wrap;
}


section.about {
    text-align: center;
    margin-top: 10px;
    margin-left: 300px;
    margin-right: 300px;
    color: white;
}


section.contact {
    text-align: center;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    color: white;
}


section.portfolio {
    text-align: center;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    color: white;
}


div.exp_section {
    height: wrap;
    margin-bottom: 50px;
    width: 33%;
    float: left;
    text-align: center;
}


img.profile {
    border-radius: 50%;
}


img.exp {
    width: 150px;
    height: 150px;
    border-radius: 20%;
}


button.nav {
    text-decoration: none;
    padding: 15px;
    margin: 5px;
    color: white;
    background-color: transparent;
    width: 125px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
button.nav:hover {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    color: black;
    background-color: white;
}


button.nav_select {
    border: 2px solid white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    color: white;
    background-color: transparent;
    width: 125px;
    height: 50px;
    text-decoration-line: none;
    font-size: 14px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
button.nav_select:hover {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    color: black;
    background-color: white;
    padding: 15px;
    border: none;
}