
<main>
    <section class="blurb">
        <span class="text">Contact Me</span>
        <span class="subtext">Thank you for wanting to contact me!</span>
    </section>
    <section class="contact">
        <i class="material-icons">email</i>
        <span class="text">
            Send me an email at <a href="mailto:eav990@gmail.com">eav990@gmail.com</a> and I will reply to you as soon as I am able.
        </span>
    </section>
    <div class="resume">
        <a href="assets/files/Resume.docx"><button>Resume</button></a>
    </div>
</main>
