
@import url('https://fonts.googleapis.com/css?family=Arizonia|Oxygen');

// Fonts
$oxygen: 'Oxygen', sans-serif;
$arizonia: 'Arizonia', cursive;

// Colors
$grey: #4E4E50;
$black: #1A1A1D;
$vibrant-red: #C3073F;
$dull-red: #6F2232;
$berry-red: #950740;
