
<main>
  <section class="hello">
    <span class="sub">Hi I'm</span>
    <div>
      <span class="main">Emily</span>
    </div>
  </section>
  <section class="developer">
    <span class="main">And I'm a Software Developer</span>
    <div class="description">
      <img src="assets/img/emily-vogel.jpg">
      <span>
        I am a Undergraduate Student at Towson University, majoring in Computer Science with a track in Software Engineering. 
        I has experience in many areas of computer science, including Front and Back-End development, as well as many leadership 
        and teaching roles within the discipline. Since my first computer science class at Arundel High School, I have been 
        coding and have excelled in my academics. I love the challenge computer science has to offer in addition to the creativity 
        needed to develop and build applications.
      </span>
    </div>
  </section>
</main>
