
<main>
  <section class="hello">
    <div>
      <span class="sub">Hi I'm</span>
      <span class="text">Emily</span>
    </div>
  </section>
  <section class="developer">
    <span class="main">And I'm a Software Developer</span>
    <div class="description">
      <img src="assets/img/emily-vogel.jpg" alt="Emily Vogel's Picture">
      <span class="text">
        I am a Undergraduate Student at Towson University, majoring in Computer Science with a track in Software Engineering. 
        I has experience in many areas of computer science, including Front and Back-End development, as well as many leadership 
        and teaching roles within the discipline. Since my first computer science class at Arundel High School, I have been 
        coding and have excelled in my academics. I love the challenge computer science has to offer in addition to the creativity 
        needed to develop and build applications.
      </span>
    </div>
  </section>
  <section class="quality">
    <span class="main">Who Focuses on Quality</span>
    <div class="description">
      <span class="text">
          A telltale sign of a good developer is one that focuses on the needs and wants of the end user and stakeholders, a 
          person who focuses on the usability and efficiency of the product.  I believe without that mindset then the product 
          won’t be the best it can possibly be.  Whether your website is a simple e-commerce application or a complex multimedia 
          application, my absolute best should be put into your website.
      </span>
      <i class="material-icons">code</i>
    </div>
  </section>
  <div class="resume">
    <a href="assets/files/Resume.docx"><button>Resume</button></a>
  </div>
</main>
