
@import '../../vars';

.hello {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: calc(100vh - 90px);
    font-family: $arizonia;
    color: white;
    margin: 0;

    .sub {
        font-size: 96px;
        display: block;
    }

    .text {
        font-size: 288px;
        color: $vibrant-red;
        margin: 0 auto;
        display: block;
    }

    &:before {
        content: '';
        z-index: -1;
        background: $vibrant-red;
        opacity: .15;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        mask: url($cube-svg) repeat;
    }

    &:after {
        content: '';
        background: linear-gradient(90deg,$black,rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0), $black);
        position: absolute;
        top: 90px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
}

.developer {
    background-color: $dull-red;
    padding: 40px 100px;

    img {
        width: 200px;
        border-radius: 150px;
    }

    .text {
        font-size: 18px;
        margin-left: 40px;
        color: white;
    }
    
}

.quality {
    padding: 40px 100px;

    .material-icons {
        color: white;
        font-size: 150px;
    }

    .text {
        font-size: 18px;
        margin-right: 40px;
        color: white;
    }
}

.main {
    font-size: 64px;
    font-family: $arizonia;
    color: white;
    margin-bottom: 20px;
    display: block;
}

.description {
    margin: 0 100px;
    display: flex;
    align-items: center;
}

.resume {
    text-align: center;

    button {
        -moz-transition-duration: .2s;
        transition-duration: .2s;
        background-color: $berry-red;
        border: 2px solid $berry-red;
        color: white;
        cursor: pointer;
        padding: 20px;
        width: 150px;
        font-size: 18px;
        margin: 20px 0;

        &:hover {
            -moz-transition-duration: .4s;
            transition-duration: .4s;
            background-color: $vibrant-red;
            border-color: $vibrant-red;
        }
    }
}

@media (max-width: 875px) {
    .hello {
        justify-content: center;
        height: calc(100vh - 90px);
        
        .sub {
            font-size: 80px;
        }

        .text {
            font-size: 150px;
        }        
    }

    .developer {
        padding: 20px 50px;

        img {
            width: 150px;
        }

        .text {
            font-size: 16px;
            margin-left: 20px;
        }
    }

    .quality {
        padding: 20px 50px;

        .material-icons {
            font-size: 100px;
        }

        .text {
            font-size: 16px;
            margin-right: 20px;
        }
    }

    .main {
        font-size: 48px;
    }

    .description {
        margin: 0 20px;
    }
}

@media (max-width: 425px) {

    .resume {
        text-align: center;
    
        button {
            background-color: $berry-red;
            border: 2px solid $berry-red;
            color: white;
            cursor: pointer;
            padding: 10px;
            font-size: 14px;
            margin: 20px 0;
        }
    }

    .hello {
        height: calc(100vh - 110px);
        padding: 10px;

        .sub {
            font-size: 54px;
        }

        .text {
            font-size: 90px;
        }
    }

    .developer {
        padding: 20px;

        img {
            display: inline-block;
            margin: 10px;
        }

        .text {
            display: inline-block;
            text-align: center;
            margin: 10px;
        }

        .main {
            font-size: 36px;
        }
    }

    .quality {
        padding: 20px;

        .material-icons {
            display: none;
        }

        .text {
            display: inline-block;
            text-align: center;
            margin: 10px;
        }

        .main {
            font-size: 36px;
        }
    }

    .description {
        margin: 5px;
        display: block;
        text-align: center;
    }
}
